<div id="content">
<div class="internal-page-title about-page" id="contact">
    <h1>Kapcsolat</h1>
</div>
<div id="contact_us" class="container">
    <div class="col-md-4">
        <div class="contact-widget">
            <div class="col-xs-6">
                <img src="img/contact/mail.svg" alt="E-mail" title="E-mail">
            </div>
            <div class="col-xs-6">
                <h3 class="text-center">E-mail</h3>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="contact-widget">
            <div class="col-xs-6">
                <img src="img/contact/phone.svg" alt="Telefon" title="Telefon">
            </div>
            <div class="col-xs-6">
                <h3 class="text-center">Telefon</h3>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="contact-widget">
            <div class="col-xs-6">
                <img src="img/contact/gps.svg" alt="Cím" title="Cím">
            </div>
            <div class="col-xs-6">
                <h3 class="text-center">Címünk</h3>
                <p></p>
            </div>
        </div>
    </div>
</div>
</div>