 <div id="content">
<div id="base_page">
    <div class="main-page landing-page-holder" id="home">
        <div class="landing-page"></div>
        <div class="landing-logo">
            <img src="img/logo/logo.svg" alt="Főoldal nyitó logo" title="Főoldal nyitó logó">
        </div>
    </div>
    <div id="scroll_down"><span class="glyphicon glyphicon-chevron-down"></span></div>
</div>
<div class="we-are container">
    <h2>Stílus és egyéniség</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in purus eu felis feugiat hendrerit ut at urna. Nulla sodales nisi non urna egestas facilisis. Nunc venenatis, augue ut ultrices congue, justo odio eleifend turpis, non rhoncus lacus leo sodales urna. Duis sed eros in dui sollicitudin congue sit amet et neque. Nam tristique magna nisl. Pellentesque orci diam, sodales vel tellus eu, lobortis posuere quam. Vivamus tristique volutpat tellus, sed imperdiet massa congue ac. Cras mollis orci lacus, in dictum enim tempus eu. Nulla lacinia nec augue et mattis. Vestibulum dictum elit pulvinar, tempor massa nec, aliquet massa. 
</div>    </div>
        