<div id="content">
<div class="internal-page-title about-page hidden-xs" id="reference">
    <h1>Munkáink</h1>
</div>
<div id="gallery">
    <div class="heading-box">
        <div class="sort-section">
            <div class="sort-section-container">
                <div class="sort-handle">Szűrés</div>
                <ul class="list-inline">
                    <li><a class="image-filter active" data-show="all">Mind</a></li>
                    <li><a class="image-filter" data-show="fodrasz">Fodrászat</a></li>
                    <li><a class="image-filter" data-show="manikur">Manikűr</a></li>
                    <li><a class="image-filter" data-show="masszazs">Masszázs</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Gallery Container -->
    <div class="gallery-container">
        <ul class="image-main-box clearfix">
            <li class="item col-xs-6 col-md-3 fodrasz">
                <figure>
                    <img src="img/works/1.jpg" alt="11">
                    <figcaption>
                        <h4><span>Maximális</span> szakértelem</h4>
                    </figcaption>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-3 manikur">
                <figure>
                    <img src="img/works/3.jpg" alt="11">
                    <figcaption>
                        <h4><span>Kiváló</span> eszközök</h4>
                    </figcaption>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-3 fodrasz">
                <figure>
                    <img src="img/works/4.jpg" alt="11">
                    <figcaption>
                        <h4><span>Tökéletes</span> nyugalom</h4>
                    </figcaption>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-3 masszazs">
                <figure>
                    <img src="img/works/1.jpg" alt="11">
                    <figcaption>
                        <h4><span>Pihentető</span> masszázs</h4>
                    </figcaption>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-3 masszazs">
                <figure>
                    <img src="img/works/2.jpg" alt="11">
                    <figcaption>
                        <h4><span>Kényelem</span> mindenek felett</h4>
                    </figcaption>
                </figure>
            </li>
            <li class="item col-xs-6 col-md-3 manikur">
                <figure>
                    <img src="img/works/3.jpg" alt="11">
                    <figcaption>
                        <h4><span>Gyönyörű</span> környezet</h4>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</div>
</div>