<div id="content" >
<div class="internal-page-title about-page hidden-xs" id="reservation">
    <h1>Foglalás</h1>
</div>
<div class="row" id="simplybook-padding">
<div class="container">

<script type="text/javascript" src="//eclectica.simplybook.me/iframe/pm_loader_v2.php?width=960&url=//eclectica.simplybook.me&theme=pasid_blue&layout=bootstrap__joy&timeline=flexible&mode=auto&mobile_redirect=0"></script>

</div>
</div>
</div>