<div id="content">
<div class="internal-page-title about-page hidden-xs" id="services">
    <h1>Szolgáltatásaink</h1>
</div>
<div id="special_packages" class="container">
    <div class="package-container clearfix">
        <div class="package-box wow col-sm-6 col-md-4">
            <div class="package-inner">
                <div class="title">Fodrászat</div>
                <div class="package-details">
                    <ul>
                        <li>Férfi hajvágás</li>
                        <li>Női hajvágás</li>
                        <li>Mosás szárítás</li>
                        <li>Festés</li>
                        <li>Szőkítés</li>
                        <li>Gyerek hajvágás</li>
                        <li>Konty készítés</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="package-box wow col-sm-6 col-md-4">
            <div class="package-inner">
                <div class="title">Manikűr, Pedikűr, Műköröm</div>
                <div class="package-details">
                    <ul>
                        <li>Műköröm építés, műköröm töltés</li>
                        <li>Női manikűr, férfi manikűr</li>
                        <li>Gél lakkozás</li>
                        <li>Parafinos kézápolás</li>
                        <li>Gyerek manikűr</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="package-box wow col-sm-6 col-md-4">
            <div class="package-inner">
                <div class="title">Masszázs</div>
                <div class="package-details">
                    <ul>
                        <li>Svéd</li>
                        <li>Aromaterápiás</li>
                        <li>Lávaköves</li>
                        <li>Arc, fej, talp</li>
                        <li>Kombinált</li>						
                        <li>Cellulit</li>						
                        <li>Testradír</li>						
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>