<div id="content">
<div class="internal-page-title about-page hidden-xs" id="staff">
    <h1>Munkatársaink</h1>
</div>
<div id="our-staff" class="container">
    <ul class="staff-list clearfix">
        <li style="background-image: url(img/employees/sample.jpg); visibility: hidden">
            <div class="name">Példa <b>Példa</b></div>
            <div class="staff-title">Hotel Manager</div>
        </li>
        <li style="background-image: url(img/employees/sample.jpg);">
            <div class="name">Példa <b>Példa</b></b></div>
            <div class="staff-title">Masszőr</div>
        </li>
        <li style="background-image: url(img/employees/sample.jpg);visibility: hidden">
            <div class="name">Példa <b>Példa</b></div>
            <div class="staff-title">National Sales Manager</div>
        </li>
        <li style="background-image: url(img/employees/sample.jpg);">
            <div class="name">Példa <b>Példa</b></div>
            <div class="staff-title">Műkörmös</div>
        </li>
        <li style="background-image: url(img/employees/sample.jpg); ">
            <div class="name">Példa <b>Példa</b></div>
            <div class="staff-title">Fodrász</div>
        </li>
        <li class="pinar">
            <div class="title">Eclectica</div>
        </li>
    </ul>
</div>
</div>