 <footer>
            <div class="main-footer container">
                <div class="widget col-md-4">
                    <h4>Impresszum</h4>
                    <div class="widget-content">A portál szerkesztését és karbantartását a Spot Cash Kft. végzi.</div>
                </div>
                <div class="widget col-md-4">
                    <h4>Adatvédelem</h4>
                    <div class="widget-content">Az ECLECTICA Hair & Beauty számára kiemelt fontosságú cél az oldal látogatói által rendelkezésre bocsátott személyes adatok védelme, a látogatók információs önrendelkezési jogának biztosítása. Cégünk elkötelezi magát a látogatók személyes adatainak oly módon történő kezelése mellett, amely a vonatkozó hatályos jogszabályoknak teljes körűen eleget téve járul hozzá a látogatók biztonságos internetezési lehetőségeinek megteremtéséhez</div>
                </div>
                <div class="widget col-md-4 contact">
                    <h4>Kapcsolat</h4>
                    <div class="widget-content">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker "></i>1221 Budapest Jobbágy út 39.</li>
                            <li><i class="fa fa-phone"></i>+36 1 792 9561 / +36 70 419 2363</li>
                            <li><i class="fa fa-envelope-o"></i>info@eclectica.hu</li>
                        </ul>
                        <ul class="list-inline social-icons">
                            <li><a href="https://www.facebook.com/eclecticahb"  target="_blank"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>