<header class="main-header">
        <div class="menu-holder">
        <div class="inner-container container">
            <a href="http://www.eclectica.hu/">
            <div class="left-sec col-xs-6 col-md-3 clearfix">
                <div class="logo-img col-sm-4"></div>
                <div class="logo col-sm-8">
                    <h2>Eclectica<small>Hair & Beauty</small></h2>
                </div>
            </div>
            </a>
            <div class="right-sec col-xs-6 col-md-9 clearfix">
                <nav class="menu">
                    <ul class="list-inline">
                        <li><a href="fooldal">Főoldal</a></li><li><a href="foglalas">Időpontfoglalás</a></li><li><a href="kapcsolat">Kapcsolat</a></li><li><a href="szolgaltatasaink">Szolgáltatásaink</a></li><li><a href="referencia">Referencia</a></li><li><a href="munkatarsaink">Munkatársaink</a></li>                    </ul>
                </nav>
                <div id="menu_show">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu-holder">
        <nav class="mobile-menu">
            <ul class="list-unstyled">
                <li><a href="fooldal">Főoldal</a></li><li><a href="foglalas">Időpontfoglalás</a></li><li><a href="kapcsolat">Kapcsolat</a></li><li><a href="szolgaltatasaink">Szolgáltatásaink</a></li><li><a href="referencia">Referencia</a></li><li><a href="munkatarsaink">Munkatársaink</a></li><li><a href="profil">Profilom</a></li>            </ul>
        </nav>
    </div>
</header>